<div class="title">Cookbook</div>

<div class="buttons">
    <button><a asp-controller="Recipe" asp-action="NewRecipe">Add new recipe</a></button>
</div>

<div class="flex-container-column">
    <div class="section">
        <div id="Recipes">
            @{
                foreach (var recipe in ViewBag.Recipes)
                {
                    <div class="recipe" id=@recipe.RecipeId>
                        Name: @recipe.Name
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/HomeIndex.js"></script>
}
