Cookbook
<div id="Recipes">
    @{
        foreach (var recipe in ViewBag.Recipes)
        {
            <div class="recipe" id=@recipe.RecipeId>
                Name: @recipe.Name
            </div>
        }
    }
</div>
<a asp-controller="Recipe" asp-action="NewRecipe" class="navbar-brand">Add new recipe</a>

@section Scripts {
    <script src="~/Scripts/HomeIndex.js"></script>
}