<html>
<head>
    <title>Cookbook</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    Cookbook
    <div id="Recipes">
        @{
            foreach (var recipe in ViewBag.Recipes)
            {
                <div class="recipe" id=@recipe.RecipeId>
                    Name: @recipe.Name
                </div>
            }
        }
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".recipe").on("click", function (e) {
            displayRecipe(e.target.id);
        });
    });

    function displayRecipe(recipeId) {
        window.location.href = "/Recipe/" + recipeId;
    }
</script>